<style>
    .menu li{
        list-style: none;
        text-align: center;
        float:left;
        padding:12px;
    }
    .section-1{
        background: #000;
        color:#fff!important;
    }
    .menu li a{
        color:#fff!important
    }
    </style>
<div class="container-fluid section-1">
    <div class="col-md-12">
<ul class="menu">
<li><a href="#/index">Index</a></li>
<li><a href="#/about">About</a></li>
<li><a href="#/contact">Contact</a></li>
</ul>
</div>
</div>

<div class="container" ng-init="getdataasjson()">
    <h1>Get datas from json:</h1>
    <br/>
    <span class="text-center"></span>
    <select ng-model="sortBy" class="form-control">  
        <option selected value="" >--- status ---</option>
        <option ng-repeat="s in options" value="{{s.inner}}">{{s.outer}}</option>
    </select>

    <br/>

    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Name</th>
                <th>Age</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="x in data | orderBy:sortBy">

                    <td>{{x.name}}</td>
                        <td>{{x.age}}</td>

                    </tr>
                </tbody>
        </table>

        
    </div>
